BeautifulSoup==3.2.1
Django==1.6.2
FeinCMS==1.9.3
Genshi==0.7
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.19
Mezzanine==3.0.9
MySQL-python==1.2.5
PIL==1.1.7
Pillow==2.4.0
PyYAML==3.11
Pygments==1.6
Satchmo==0.9.3
South==0.8.4
Sphinx==1.2.2
argparse==1.2.1
astroid==1.1.1
beautifulsoup4==4.3.2
bleach==1.4
boto==2.27.0
coverage==3.7.1
coveralls==0.4.2
dirspec==13.10
distribute==0.6.24
dj-database-url==0.3.0
dj-static==0.0.5
django-admin-bootstrapped==1.6.4
django-admin-tools==0.5.1
-e git://github.com/jsocol/django-adminplus@90c6aca7a9c18f90af20d111141b1670ef6af206#egg=django_adminplus-dev
django-appconf==0.6
django-bootstrap-toolkit==2.15.0
django-bootstrap3==4.0.2
django-categories==1.2.2
django-classy-tags==0.5
django-cms==3.0c1
django-cms-themes==1.0.11
django-compressor==1.3
django-filer==0.9.5
django-forms-bootstrap==3.0.0
django-geoip==0.4
django-geoposition==0.1.5
django-haystack==2.1.0
django-jython==1.3.0
django-markers==1.0
django-mptt==0.5.5
django-pipeline==1.3.23
django-polymorphic==0.5.5
django-registration==1.0
django-sekizai==0.7
django-ses==0.6.0
django-shop==0.2.0
django-sphinxdoc==1.3.0
django-twitter-bootstrap==3.1.1
djangocms-admin-style==0.2.1
docopt==0.6.1
docutils==0.11
easy-thumbnails==2.0.1
feedparser==5.1.3
filebrowser-safe==0.3.2
future==0.9.0
futures==2.1.6
gdata==2.0.18
geopy==0.99
google==1.05
grappelli-safe==0.3.7
html5lib==1.0b3
httplib2==0.8
jsonfield==0.9.20
logilab-common==0.61.0
numpy==1.8.1
oauth==1.0.1
oauthlib==0.6.1
pam==0.1.4
prices==0.5.1
psycopg2==2.5.2
pystache==0.5.4
pytz==2014.2
requests==2.2.1
requests-oauth==0.4.1
requests-oauthlib==0.4.0
satchless==1.1.3
selenium==2.41.0
sh==1.09
simplejson==3.3.3
six==1.6.1
static==1.0.2
tzlocal==1.0
utm==0.3.1
wsgiref==0.1.2
yolk==0.4.3
